<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome </title>
</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, magnam? Esse doloremque modi consectetur sequi,
        odio perspiciatis suscipit dolor expedita aperiam debitis, eaque maiores necessitatibus praesentium ratione
        voluptatem inventore neque voluptatibus corrupti distinctio sit eius quam assumenda. Accusamus repellat pariatur
        adipisci qui, a provident, reiciendis ex iure recusandae error odit.</p>
</body>

</html>